@media only screen and (max-width: 100px)
body {background: #f3f3f3;
}
.web{margin-left:10px ;margin-right:10px ;margin-top:30px}
.tag{color:#f77a0b;font-size:60px;text-align:left;}

.web ul{font-size:45px;width:100%;padding:6px 0;border-bottom:1px solid #eaeaea;line-height:100px;list-style:none;overflow:hidden;background: #e5e5e5;}

.web li{padding:9px 0;display:inline-flex;white-space:nowrap;justify-content:center;overflow:hidden}

.web a{margin-left:5px ;padding:0 16px;-webkit-transition:all .1s ease-in;transition:all .1s ease-in;color:#535353;text-decoration: none;}
